# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/private/
staticfiles/

# Environment Variables
.env
.env.local

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo

# OS specific
Thumbs.db
Desktop.ini
.DS_Store

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/
